In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#Explore the data for the DC_Properties.csv dataset. 
#Begin to prepare the data (clean, manipulate, transform, etc.) for future analysis. 
#What interesting things can you conclude about the data?

In [12]:
#load csv file
exploreDC = "datasets/DC_Properties.csv"
df_DCProperties = pd.read_csv(exploreDC)

In [14]:
#number of rows and columns
df_DCProperties.shape

(158957, 49)

In [4]:
#shows first 5 rows and columns
df_DCProperties.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [5]:
#shows last 5 rows and columns
df_DCProperties.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [6]:
#shows column names
df_DCProperties.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [7]:
#shows data type of each column
df_DCProperties.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [16]:
#descriptive statistics
df_DCProperties.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,158957.0,79478.000000,4.588708e+04,0.000000,39739.000000,79478.000000,119217.000000,1.589560e+05
BATHRM,158957.0,1.810678,9.763960e-01,0.000000,1.000000,2.000000,2.000000,1.400000e+01
HF_BATHRM,158957.0,0.458237,5.875715e-01,0.000000,0.000000,0.000000,1.000000,1.100000e+01
NUM_UNITS,106696.0,1.198039,5.969244e-01,0.000000,1.000000,1.000000,1.000000,6.000000e+00
ROOMS,158957.0,6.187736,2.618165e+00,0.000000,4.000000,6.000000,7.000000,4.800000e+01
BEDRM,158957.0,2.732506,1.358864e+00,0.000000,2.000000,3.000000,3.000000,2.400000e+01
AYB,158686.0,1941.987579,3.364023e+01,1754.000000,1918.000000,1937.000000,1960.000000,2.019000e+03
YR_RMDL,80928.0,1998.243537,1.657579e+01,20.000000,1985.000000,2004.000000,2010.000000,2.019000e+03
EYB,158957.0,1963.718024,2.492315e+01,1800.000000,1954.000000,1963.000000,1975.000000,2.018000e+03
STORIES,106652.0,2.091793,2.933323e+00,0.000000,2.000000,2.000000,2.000000,8.260000e+02
PRICE,98216.0,931351.594934,7.061325e+06,1.000000,240000.000000,399999.000000,652000.000000,1.374275e+08
SALE_NUM,158957.0,1.680033,1.285898e+00,1.000000,1.000000,1.000000,2.000000,1.500000e+01
GBA,106696.0,1714.539889,8.806779e+02,0.000000,1190.000000,1480.000000,1966.000000,4.538400e+04
BLDG_NUM,158957.0,1.000598,3.162151e-02,1.000000,1.000000,1.000000,1.000000,5.000000e+00
KITCHENS,106695.0,1.219251,6.211696e-01,0.000000,1.000000,1.000000,1.000000,4.400000e+01
FIREPLACES,158957.0,2.374674,7.372956e+02,0.000000,0.000000,0.000000,1.000000,2.939200e+05
USECODE,158957.0,14.252999,3.725736e+00,11.000000,11.000000,13.000000,17.000000,1.170000e+02
LANDAREA,158957.0,2473.282158,5.059046e+03,0.000000,697.000000,1649.000000,3000.000000,9.426320e+05
CMPLX_NUM,52261.0,2371.544249,1.114272e+03,1001.000000,1501.000000,2265.000000,2910.000000,5.621000e+03
LIVING_GBA,52261.0,888.834542,4.201858e+02,0.000000,616.000000,783.000000,1060.000000,8.553000e+03
ZIPCODE,158956.0,20012.694563,1.562708e+01,20001.000000,20007.000000,20011.000000,20018.000000,2.039200e+04
LATITUDE,158956.0,38.914854,3.172262e-02,38.819731,38.895425,38.915337,38.936075,3.899554e+01
LONGITUDE,158956.0,-77.016676,4.093841e-02,-77.113909,-77.042892,-77.019596,-76.988626,-7.690976e+01
CENSUS_TRACT,158956.0,5348.216324,3.369646e+03,100.000000,2102.000000,5201.000000,8302.000000,1.110000e+04
X,158720.0,-77.016712,4.093319e-02,-77.113135,-77.042894,-77.019581,-76.988842,-7.691051e+01
Y,158720.0,38.914846,3.168182e-02,38.820576,38.895432,38.915229,38.936077,3.899365e+01

In [8]:
#number of non-NA values
df_DCProperties.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [11]:
#total missing values
df_DCProperties.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [20]:
#show if there are any duplicate values
duplicateDCProperties = df_DCProperties.duplicated() #creates list of True/False values
df_DCProperties[duplicateDCProperties] #shows rows where duplicated is True

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]